<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/header.ejs") %>
    
    <main class="mt-5">
        <div class="container">
          
            <section class="text-center">
                <h1 class="mb-5 font-weight-bold">Allo Technologies</h1>
                <div class="row d-flex justify-content-center mb-4">
                    <h4 id="slogan">Comparez Malin</h4>
                </div>
            </section>

            <!--Section: Examples-->
            <section id="examples" class="text-center">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="vendor/images/logos/ldlc.png" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="vendor/images/logos/fnac.png" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="vendor/images/logos/darty.png" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="vendor/images/logos/cdiscount.png" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                    </div>
                    <!--Grid column-->
                </div>
            </section>
        </div>
    </main>
   
    <script src="vendor/libs/dark-mode-switch.min.js"></script>
    
</body>

</html>