<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/header.ejs") %>
    
    <main class="mt-5">
        <div class="container">
          
            <section class="text-center">
                <h1 class="mb-5 font-weight-bold">Allo Technologies</h1>
                <div class="row d-flex justify-content-center mb-4">
                    <h4 id="slogan">Comparez Malin</h4>
                </div>
            </section>
        </div>
    </main>
</body>

</html>