<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head.ejs") %>

</head>

<body>

  <%- include("partials/header.ejs") %> 

  <style>
    .info {
      margin : 0;
      padding : 0;
    }
  </style>

  <div class="container p-5">

  <h4>NON Responsabilités</h4>
    <p>
        Vérifiez bien que vous achetez le bon produit sur la bonne enseigne car ce site n'est qu'un comparateur avec liens d'affiliation
    </p>
  </div>

  <script src="vendor/dark-mode-switch.min.js"></script>

</body>

</html>